<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<mapper namespace="org.apache.guacamole.auth.jdbc.permission.WatchSessionPermissionMapper">

    <resultMap id="WatchSessionPermissionResultMap" type="org.apache.guacamole.auth.jdbc.permission.ObjectPermissionModel">
        <result column="entity_id"         property="entityID"         jdbcType="INTEGER"/>
        <result column="permission"        property="type"             jdbcType="VARCHAR"
                javaType="org.apache.guacamole.net.auth.permission.ObjectPermission$Type"/>
        <result column="watch_session_id"  property="objectIdentifier" jdbcType="INTEGER"/>
    </resultMap>

    <select id="select" resultMap="WatchSessionPermissionResultMap">
        SELECT DISTINCT
        #{entity.entityID} AS entity_id,
        permission,
        watch_session_id
        FROM guacamole_watch_session_permission
        WHERE
        <include refid="org.apache.guacamole.auth.jdbc.base.EntityMapper.isRelatedEntity">
            <property name="column" value="entity_id"/>
            <property name="entityID" value="#{entity.entityID}"/>
            <property name="groups" value="effectiveGroups"/>
            <property name="caseSensitivity" value="${caseSensitivity}"/>
        </include>
    </select>

    <select id="selectOne" resultMap="WatchSessionPermissionResultMap">
        SELECT DISTINCT
        #{entity.entityID} AS entity_id,
        permission,
        watch_session_id
        FROM guacamole_watch_session_permission
        WHERE
        <include refid="org.apache.guacamole.auth.jdbc.base.EntityMapper.isRelatedEntity">
            <property name="column" value="entity_id"/>
            <property name="entityID" value="#{entity.entityID}"/>
            <property name="groups" value="effectiveGroups"/>
            <property name="caseSensitivity" value="${caseSensitivity}"/>
        </include>
        AND permission = #{type}::guacamole_object_permission_type
        AND watch_session_id = #{identifier}::integer
    </select>

    <select id="selectAccessibleIdentifiers" resultType="string">
        SELECT DISTINCT watch_session_id
        FROM guacamole_watch_session_permission
        WHERE
        <include refid="org.apache.guacamole.auth.jdbc.base.EntityMapper.isRelatedEntity">
            <property name="column" value="entity_id"/>
            <property name="entityID" value="#{entity.entityID}"/>
            <property name="groups" value="effectiveGroups"/>
            <property name="caseSensitivity" value="${caseSensitivity}"/>
        </include>
        AND watch_session_id IN
        <foreach collection="identifiers" item="identifier" open="(" separator="," close=")">
            #{identifier}::integer
        </foreach>
        AND permission IN
        <foreach collection="permissions" item="permission" open="(" separator="," close=")">
            #{permission}::guacamole_object_permission_type
        </foreach>
    </select>

    <delete id="delete" parameterType="org.apache.guacamole.auth.jdbc.permission.ObjectPermissionModel">
        DELETE FROM guacamole_watch_session_permission
        WHERE (entity_id, permission, watch_session_id) IN
        <foreach collection="permissions" item="permission" open="(" separator="," close=")">
            (#{permission.entityID}, #{permission.type}::guacamole_object_permission_type, #{permission.objectIdentifier}::integer)
        </foreach>
    </delete>

    <insert id="insert" parameterType="org.apache.guacamole.auth.jdbc.permission.ObjectPermissionModel">
        INSERT INTO guacamole_watch_session_permission (
        entity_id, permission, watch_session_id
        )
        SELECT DISTINCT permissions.entity_id, permissions.permission, permissions.watch_session_id
        FROM
        <foreach collection="permissions" item="permission" open="(" separator=" UNION ALL " close=")">
            SELECT #{permission.entityID} AS entity_id,
            #{permission.type}::guacamole_object_permission_type AS permission,
            #{permission.objectIdentifier}::integer AS watch_session_id
        </foreach> AS permissions
        WHERE (entity_id, permission, watch_session_id) NOT IN (
        SELECT entity_id, permission, watch_session_id
        FROM guacamole_watch_session_permission
        );
    </insert>

</mapper>
